.sw--section-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    &--section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
        width: 100%;
        min-height: 100%;
        min-height: 100vh;
    }
}
