@import "app/header/header";
@import "app/navigation/navigation";

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    width: 100%;
    min-height: 100%;
}

body {
    color: #fff;
    font-family: stargaze, Arial, Helvetica, sans-serif;
    letter-spacing: 2px;

    overflow: hidden;
}
